# --- MySQL ---
MYSQL_USER=vitaluser
MYSQL_PASSWORD=vitalpass
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=vitalgraph
MYSQL_HOST=localhost
MYSQL_PORT=3306

# --- MongoDB ---
MONGO_USER=vitaluser
MONGO_PASSWORD=vitalpass
MONGO_DB=vitalgraph
MONGO_HOST=localhost
MONGO_PORT=27017

# --- Neo4j ---
NEO4J_USER=neo4j
NEO4J_PASSWORD=vitalpass123
NEO4J_HOST=localhost
NEO4J_BOLT_PORT=7687

# --- MQTT ---
MQTT_HOST=localhost
MQTT_PORT=1883


