paho-mqtt==2.1.0
mysql-connector-python==9.7.0
pymongo==4.17.0
neo4j==6.2.0
python-dotenv==1.2.2
fastapi==0.138.0
uvicorn[standard]==0.49.0
websockets==16.0
streamlit==1.58.0
pandas==3.0.2
altair==6.2.2
